::ng-deep .mat-dialog-container {
    background-color: #303030; 
    color: #ffffff; 
   }
   
   ::ng-deep .mat-dialog-title,
   ::ng-deep .mat-dialog-actions {
    color: #ffffff; 
   }
    mat-dialog-content {
    background-color: #303030;
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
   }
   
   mat-form-field {
    width: 100%;
   }
   
   mat-dialog-actions {
    background-color: #303030;
    color: #ffffff; 
    justify-content: flex-end;
    gap: 16px;
   }
   .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
   }
   .delete-icon {
    cursor: pointer;
    color: #f44336;
   }
   .delete-icon:hover {
    color: #ff5722;
   }
   
   
   
   button {
    color: #ffffff; 
   }
   button[mat-dialog-close] {
    background-color: #f44336;
   }
   .save-btn {
    background-color: #303f9f; 
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(194, 192, 192) !important;
    }

    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: white!important;
    }

    ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
        caret-color: rgb(236, 55, 55)!important;
    }

    ::ng-deep .mat-form-field-label {
        color: rgb(194, 192, 192) !important;
        font-weight: 700;
    }

    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: white !important;
    }

    //added
    .form-container {
        padding: 20px;
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    
    .form-field {
        width: 48%;
    }
    
    mat-form-field {
        width: 100%;
    }
    
    ::ng-deep .mat-select-panel {
        background-color: #303030; 
        color: #ffffff; 
    }

    ::ng-deep .mat-option {
        color: #ffffff; 
    }

    ::ng-deep .mat-option:hover {
        background-color: #424242; 
    }

    
    ::ng-deep .mat-select-trigger {
        color: #ffffff;
    }

::ng-deep .mat-option .mat-option-text{
    color: #ffffff;
}
::ng-deep .mat-select-value{
    color: #ffffff;
}
::ng-deep .mat-select-arrow {
    color: white !important;
}
::ng-deep .mat-option-text:hover{
    color: #303f9f;
}

::ng-deep .mat-select-panel {
    background-color: #303030; 
    color: #ffffff; 
    z-index: 1000; 
    position: fixed; 
    transform: translateZ(0);
}

::ng-deep .mat-select-trigger {
    color: #ffffff;
}

mat-dialog-content {
    overflow: visible;
}

::ng-deep .mat-select-panel {
    max-height: 250px;
    overflow-y: auto; 
}

::ng-deep .mat-option:hover {
    background-color: #424242;
    color: #ffffff; 
}