:host{
    margin: 40px;
}
.page-header {
    text-align: center;
    margin-bottom: 20px;
   }
   
   .page-header h1 {
    color: white;
    font-size: 2.5em;
   }
   
   .page-header h2 {
    color: #ddd;
    font-size: 1.5em;
   }
   
   .mat-table {
    width: 80%;
    background-color: #1a1a1a; 
    margin: auto;
   }
   
   .mat-cell, .mat-header-cell, .mat-footer-cell {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
    color: white; 
   }
   
   .mat-header-cell {
    background-color: #2a2a2a; 
    color: white; 
   }
   
   .mat-cell:not(:last-child), .mat-header-cell:not(:last-child) {
    padding-right: 20px;
   }

   .custom-table, .mat-paginator {
    width: 80%;
    margin: auto;
   }
   
   .mat-paginator {
    background-color: #1a1a1a;
    color: white;
   }
   
   .mat-paginator {
    color: white;
   }
   
   .mat-paginator-container {
    background-color: #1a1a1a; 
   }
   
   .mat-paginator-navigation-next,
   .mat-paginator-navigation-previous,
   .mat-paginator-navigation-first,
   .mat-paginator-navigation-last {
    color: white;
   }
   
   .mat-paginator-navigation-next:hover,
   .mat-paginator-navigation-previous:hover,
   .mat-paginator-navigation-first:hover,
   .mat-paginator-navigation-last:hover {
    background-color: #333; 
   }
   ::ng-deep .mat-paginator .mat-select-value-text {
    color: white !important;
    }
    .sub-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 80%;
        margin: auto;
    }

    @media (max-width: 576px ) {
        .sub-header{
            flex-direction: column-reverse;
            width: 100%;
            align-items: normal;
        }
        .mat-raised-button{
            margin: 5px 2rem;
        }
       }
   
  